/* 
    Paul Irish
    * { Box-sizing: Border-box } FTW
 */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
     box-sizing: inherit;
}

h1 {
    color: #000;
}

h1 span {
    color: #037bc0;
}